
   @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  font-family:'Poppins',sans-serif;
    color:#222;
  background:#FFFAF0;
  padding: 30px;
}
.carousel img{
  width:100%;
  height:100%;
}





